export(somgrid,batchsom,colorCode,mapToUnit,grid2lines,componentPlane,hitMap)
export(umatrix,error.kaskilagus,error.quantisation,som.tune,som.tunecontrol)
export(somPCAInit,prototype.distances,distance.grid)
S3method(print,somgrid)
S3method(summary,somgrid)
S3method(plot,somgrid)
S3method(print,som)
S3method(summary,som)
S3method(plot,som)
S3method(predict,som)
useDynLib(yasomi)
importFrom(e1071,allShortestPaths)
importFrom(proxy,dist)
