# imports
importFrom(e1071,allShortestPaths)
importFrom(proxy,dist)
importFrom(proxy,as.dist)
# standard functions
export(somgrid,batchsom,colorCode,mapToUnit,grid2lines,componentPlane,hitMap)
export(umatrix,error.kaskilagus,error.quantisation,som.tune,som.tunecontrol)
export(prototype.distances,distance.grid,sominit.pca,sominit.random)
export(somradii)
export(as.kernelmatrix)
# somgrid S3 methods
S3method(print,somgrid)
S3method(summary,somgrid)
S3method(plot,somgrid)
# som S3 methods (generic)
S3method(print,som)
S3method(summary,som)
S3method(plot,som)
S3method(error.quantisation,som)
# somnum S3 methods
S3method(print,somnum)
S3method(summary,somnum)
S3method(predict,somnum)
S3method(as.dist,somnum)
S3method(as.matrix,somnum)
S3method(error.quantisation,somnum)
S3method(error.kaskilagus,somnum)
# default S3 methods
S3method(sominit.pca,default)
S3method(sominit.random,default)
S3method(batchsom,default)
# relational S3 methods (based on the dist class)
S3method(print,relationalsom)
S3method(summary,relationalsom)
S3method(predict,relationalsom)
S3method(as.dist,relationalsom)
S3method(as.matrix,relationalsom)
S3method(error.quantisation,relationalsom)
S3method(error.kaskilagus,relationalsom)
S3method(sominit.pca,dist)
S3method(sominit.random,dist)
S3method(batchsom,dist)
# kernel S3 methods
S3method(print,relationalsom)
S3method(summary,relationalsom)
S3method(predict,kernelsom)
S3method(as.dist,kernelsom)
S3method(as.matrix,kernelsom)
S3method(error.quantisation,kernelsom)
S3method(error.kaskilagus,kernelsom)
S3method(as.kernelmatrix,matrix)
S3method(sominit.pca,kernelmatrix)
S3method(sominit.random,kernelmatrix)
S3method(batchsom,kernelmatrix)
# sompdist S3 methods
S3method(plot,sompdist)
S3method(as.matrix,sompdist)
S3method(as.dist,sompdist)
# somtune S3 method
S3method(plot,somtune)
S3method(print,somtune)
# C code
useDynLib(yasomi)
